includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app

    # The level 8 is the highest level
    level: 8
    ignoreErrors:
        -
            message: '#should return #'
            path: app/Http/Middleware/Authenticate.php

    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
